.modal-container {
  position: absolute;
  top: 0;
  left: 0;
}
.modal-container .modal-form-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3000;
  background: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}
.modal-container .modal-form-wrapper.modal_open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal-container .modal-form-wrapper.closing {
  opacity: 0;
  transform: translateY(-20px);
}
.modal-container .modal-form-wrapper .modal-form {
  border-radius: 6px;
  background: #ffffff;
  overflow: hidden;
  padding: 0;
}
.modal-container .modal-form-wrapper .modal-form .form-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 12px 20px;
  background: #f1f1f1;
  border-radius: 6px 6px 0 0;
  max-height: 40px;
}
.modal-container .modal-form-wrapper .modal-form .form-header__title {
  font-size: 18px;
  line-height: 20px;
  height: 20px;
}
.modal-container .modal-form-wrapper .modal-form .form-header .pxpupmgr__header__close_button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #666;
  text-align: center;
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex !important;
  border-top-right-radius: 6px;
}
.modal-container .modal-form-wrapper .modal-form .form-header .pxpupmgr__header__close_button:hover {
  background: #e4e4e4;
  color: #000;
}
.modal-container .modal-form-wrapper .modal-form .form-header .pxpupmgr__header__close_button svg g path {
  fill: #666;
  transition: 0.2s ease all;
}
.modal-container .modal-form-wrapper .modal-form .form-header .pxpupmgr__header__close_button:hover svg g path {
  fill: #000;
}
.modal-container .modal-form-wrapper .modal-form .form-header .pxpupmgr__header__icon {
  font-size: 18px;
}

