:root {
    --pxp-action-main: #ff6900;
    --pxp-action-main-text: #ffffff;
    --pxp-action-main-hover: #d45700;
    --pxp-action-main-hover-text: #ffffff;
    --pxp-action-alternative-borders: #808080;
    --pxp-action-alternative-text: #808080;
    --pxp-menu-bg: #f7f7f7;
    --pxp-menu-bg-alternative: #343434;
    --pxp-group-background: #dfede7;
    --pxp-accent-background: #232323;

    --custom-background-page: #FFFFFF;
}