@mixin respond($breakpoint) {
    @if $breakpoint == xxs {
        @media (max-width: 374.99px) {
            @content;
        }
    }
    @else if $breakpoint == xs {
        @media (min-width: 375px) {
            @content;
        }
    } @else if $breakpoint == sm {
        @media (min-width: 768px) {
            @content;
        }
    } @else if $breakpoint == md {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $breakpoint == lg {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @else if $breakpoint == mobile {
        @media (max-width: 767.99px) {
            @content;
        }
    }
}

@mixin respond-reverse($breakpoint) {
    @if $breakpoint == sm {
        @media (max-width: 767.99px) {
            @content;
        }
    }
}