---
import GridAccordeons from "../components/Accordeon/GridAccordeons.astro";
import ItemAccordeon from "../components/Accordeon/ItemAccordeon.astro";
import CardCustom from "../components/Cards/CardCustom.astro";
import CardDefault from "../components/Cards/CardDefault.astro";
import Layout from "../layout.astro";
import FAQData from "../../public/data/faq.json"

---

<Layout>
    <div class="content-grid">
        <div class="container">
            <GridAccordeons title="FAQ">
                {
                    FAQData.map( (item, index) => 
                        <ItemAccordeon
                            title={item.title}
                            id={index}
                            htmlText={item.answer}
                        />
                    )
                }
            </GridAccordeons>
        </div> 
    </div>
</Layout>