---
import AccordeonBlock from "../components/AccordeonBlock.astro";
import Logo from "../components/Logo.astro";
import Empty from "../empty.astro";
---
<Empty>
    <AccordeonBlock
        title="Заголовок SEO-текста"
        html='<p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p><p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>'
        name="fr"
        id="4"
        haveSeo={true}
    >
        
    </AccordeonBlock>
   <footer class="print-footer">
        <div class="print-footer-inner container">
            <Logo />
            <div class="navigation navigation-3983 print-main-menu">
                <ul class="list">
                    <li class="category-item "><a href="#"><i class=""></i>Преимущества</a></li>
                    <li class="category-item "><a href="#"><i class=""></i>Каталог</a></li>
                    <li class="category-item "><a href="#"><i class=""></i>Отзывы</a></li>
                    <li class="category-item "><a href="#"><i class=""></i>Контакты</a></li>
                    <li class="category-item "><a href="#"><i class=""></i>FAQ</a></li>
                </ul>
            </div>
            <a class="print-footer-phone" target="_blank" href="tel:+74952150013">+7 (495) 215-00-13</a>
            <a href="#" class="print-lets-partners print-button print-button--primary print-button--small">Запартнериться</a>
            <div class="navigation navigation-4002 print-footer-contacts">
                <ul class="list">
                    <li class="category-item ">
                        <a target="_blank" href="https://vk.com/printoteka">
                            <i class="print-icon print-icon-vk">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </a>
                    </li>
                    <li class="category-item ">
                        <a target="_blank" href="https://vk.com/printoteka">
                            <i class="print-icon print-icon-tg"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="print-footer-navigation-docs">
                <span>ИНН 774393827554</span>
                <a href="#">Политика конфиденциальности</a>
            </div>
        </div>
    </footer> 
</Empty>
<style lang="scss" is:global>

    @use "../styles/media.scss" as *;
    body {
        display: flex;
        flex-direction: column;
    }
    .print-footer {
        & .logo-wrapper {
            margin: 0 auto;
            grid-area: lg;
            @include respond(md) {
                margin: 0;
            }
        }

    }
</style>
<style lang="scss">
    @use "../styles/layout.scss" as *;
    @use "../styles/media.scss" as *;
    body {
        background-color: #232323;
    }
    .print-footer {
        position: relative;
        z-index: 1;
        background-color: var(--pxp-menu-bg);
        padding: 2rem 0;
        border-radius: 1.75rem 1.75rem 0 0;

        & .print-main-menu .list {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            align-items: center;
            justify-content: center;
        }

        & .print-lets-partners {
            width: 100%;
            grid-area: prt;
        }
    }
    .print-footer-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        
        & > * {
            margin: 0 auto;
            @include respond(md) {
                margin: 0;
            }
        }

        @include respond(md) {
            display: grid;
            grid-template-areas: "lg mm mm" "dc ph prt" "c . .";
        }

    }
    .print-main-menu {
        grid-area: mm;
        justify-self: flex-end;
    }

    .print-footer-phone {
        grid-area: ph;
        justify-self: flex-end;
        font-family: var(--font-title);
        font-size: clamp(1.375rem, 1.243rem + 0.563vw, 1.75rem);
        font-weight: 600;
        color: var(--pxp-menu-bg-alternative);
    }
    .print-footer-contacts {
        display: flex;
        font-size: 2rem;
        grid-area: c;
        & .list {
            display: flex;
            align-items: center;
            gap: .5em;
        }
    }
    .print-footer-navigation-docs {
        display: flex;
        flex-direction: column;
        gap: .5em;
        grid-area: dc;
        text-align: center;
        @include respond(md) {
            text-align: left;           
        }
    }
</style>
