---
import Reviews from "../components/Reviews/Root.astro";
import Layout from "../layout.astro";
---

<Layout>
    <div class="content-grid print-layout--light">
        <Reviews />
    </div>
</Layout>