<div class="row">
<div style="min-width: 1px; min-height: 1px;" class="swiper-main-35688 swiper-main  swiper-container ">
	<div class="swiper-wrapper">
        <div class="swiper-slide ">
            <img class="img-slide " style=" visibility: visible; opacity: 1;" src="/content/pxp-slider-image/E195CB10E997C07AB5AB51C7BE66E10E-3.webp" data-original="/content/pxp-slider-image/E195CB10E997C07AB5AB51C7BE66E10E-3.webp" alt="">
        </div>
        <div class="swiper-slide ">
            <img class="img-slide pxp-swiper-lazy " style=" " data-src="/content/pxp-slider-image/0EDF0914DE3F95D3A98DE06F34CD5CF7-3.webp" data-original="/content/pxp-slider-image/0EDF0914DE3F95D3A98DE06F34CD5CF7-3.webp" alt="">
        </div>
        <div class="swiper-slide ">
            <img class="img-slide pxp-swiper-lazy " style=" " data-src="/content/pxp-slider-image/C0603E3B41912D625F6CB14BD12398FB-3.webp" data-original="/content/pxp-slider-image/C0603E3B41912D625F6CB14BD12398FB-3.webp" alt="">
        </div>
        <div class="swiper-slide ">
            <img class="img-slide pxp-swiper-lazy " style=" " data-src="/content/pxp-slider-image/E6450C8516A396CFACA188BB0ABDF566-3.webp" data-original="/content/pxp-slider-image/E6450C8516A396CFACA188BB0ABDF566-3.webp" alt="">
        </div>
        <div class="swiper-slide ">
            <img class="img-slide pxp-swiper-lazy " style=" " data-src="/content/pxp-slider-image/5D03BA30CDD3B27AC4E50062D948275E-3.webp" data-original="/content/pxp-slider-image/5D03BA30CDD3B27AC4E50062D948275E-3.webp" alt="">
        </div>
    </div>
    <div class="swiper-pagination pagination-main"></div>
    <div class="swiper__arrows flex">
        <div class="swiper-button-prev button-prev_main"></div>
        <div class="swiper-button-next button-next_main"></div>
    </div>
</div>
</div>