---
const {title, description, src, svgCode, heghtIllustration} = Astro.props
---
<div class="print-feature-album">
    <img src={src} style={`--height-illustration: ${heghtIllustration}`}/>
    <h3>{title}</h3>
    <p>{description}</p>
</div>

<style lang="scss">
    .print-feature-album {
        & img {
            height: var(--height-illustration);
        }
    }
    .print-feature-album {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		background-color: var(--pxp-menu-bg);
		padding: .5rem;
		width: calc(33.3333% - 1rem);
	}
</style>