---
const {title, description} = Astro.props
---
<div class="print-features-profit-item">
    <div class="print-feature-profit-item-text">
       <h3>{title}</h3>
       <p>{description}</p> 
    </div>
    <slot />
</div>