---
const {title, description} = Astro.props
---
<div class="print-feature-album">
    <slot />
    <div class="print-feature-album-text">
        <h3>{title}</h3>
        <p>{description}</p>
    </div>
</div>
