---
import AccordeonBlock from "../components/AccordeonBlock.astro";
import Logo from "../components/Logo.astro";
import SEOBlock from "./Accordeon/SEOBlock.astro";
---

   <footer class="print-footer" >
        <div class="print-footer-inner container">
            <Logo />
            <div class="navigation navigation-3983 print-main-menu">
                <ul class="list">
                    <li class="category-item "><a href="#"><i class=""></i>Преимущества</a></li>
                    <li class="category-item "><a href="#"><i class=""></i>Каталог</a></li>
                    <li class="category-item "><a href="#"><i class=""></i>Отзывы</a></li>
                    <li class="category-item "><a href="#"><i class=""></i>Контакты</a></li>
                    <li class="category-item "><a href="#"><i class=""></i>FAQ</a></li>
                </ul>
            </div>
            <a class="print-footer-phone" target="_blank" href="tel:+74952150013">+7 (495) 215-00-13</a>
            <a href="#" class="print-lets-partners print-button print-button--primary print-button--small">Запартнериться</a>
            <div class="navigation navigation-4002 print-footer-contacts">
                <ul class="list">
                    <li class="category-item">
                        <a target="_blank" href="https://vk.com/printoteka">
                            <svg class="icon" width="32" height="32" style="filter: invert(1); opacity: .7">
                                <use xlink:href="#icon-tg"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="category-item ">
                        <a target="_blank" href="https://vk.com/printoteka">
                            <svg class="icon" width="32" height="32" style="filter: invert(1); opacity: .7">
                                <use xlink:href="#icon-vk"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="print-footer-navigation-docs">
                <span>ИНН 774393827554</span>
                <a href="#">Политика конфиденциальности</a>
            </div>
            <!-- <svg class="print-footer__decorative" xmlns="http://www.w3.org/2000/svg" width="1280" height="106" fill="none"><g opacity=".1"><path fill="url(#a)" d="M.8 153V4h120.7v149h-25V27.4H25.7V153H.7Z"/><path fill="url(#b)" d="M141.8 153V4h61.6a96 96 0 0 1 11.9.9 44.5 44.5 0 0 1 21.3 8.6c5.6 4.4 9.8 10 12.5 16.7a58 58 0 0 1 4.1 22.4c0 8.1-1.4 15.6-4.1 22.3-2.8 6.7-7 12.3-12.6 16.7a44.4 44.4 0 0 1-21.2 8.6 78 78 0 0 1-12 .8h-36.5v52h-25Zm25-75.3h35.5a58.9 58.9 0 0 0 9.4-1c4.2-1 7.4-2.9 9.8-5.5 2.4-2.6 4-5.6 5-8.9a32.5 32.5 0 0 0 0-19.4 22 22 0 0 0-5-9 18.7 18.7 0 0 0-9.8-5.5 58.9 58.9 0 0 0-9.4-1h-35.5v50.3Z"/><path fill="url(#c)" d="M384.9 153h-25.3V48l-69 105h-25.3V4h25.3v105l69-105H385v149Z"/><path fill="url(#d)" d="M405.2 153V4H430v62.7h70.5V4.1h24.8V153h-24.8V90.1h-70.5V153h-25Z"/><path fill="url(#e)" d="M581.6 153V27.4h-48.2V4.1h121.3v23.3h-48.2V153h-24.9Z"/><path fill="url(#f)" d="M725.6 156.1a65 65 0 0 1-62.8-37 91.8 91.8 0 0 1-8.4-40.6c0-15.3 2.8-28.9 8.4-40.5a64.3 64.3 0 0 1 24.6-27.2A71.5 71.5 0 0 1 725.6 1c15 0 27.7 3.2 38.3 9.8A63.4 63.4 0 0 1 788.4 38a90.9 90.9 0 0 1 8.6 40.5c0 15.4-2.9 29-8.6 40.6a64 64 0 0 1-24.5 27.3 72 72 0 0 1-38.3 9.7Zm0-23.5a43 43 0 0 0 25-6.6 40.4 40.4 0 0 0 15-19 74 74 0 0 0 5-28.5c0-10.9-1.7-20.3-5-28.3-3.4-8-8.4-14.3-15-18.8-6.7-4.5-15-6.8-25-7a43 43 0 0 0-24.9 6.7 41.3 41.3 0 0 0-15 18.9c-3.3 8.1-5 17.6-5 28.5 0 11 1.7 20.4 5 28.5 3.3 8 8.3 14.2 14.9 18.7 6.7 4.5 15 6.8 25 7Z"/><path fill="url(#g)" d="M840.7 153V27.4h-48.2V4.1h121.3v23.3h-48.2V153h-24.9Z"/><path fill="url(#h)" d="M921.7 153V4h96.2v23.4h-71.2v36.8h58.8v23.3h-58.8v42.1h71.2V153h-96.2Z"/><path fill="url(#i)" d="M1034.1 153V4h25v69.2L1118.4 4h30.6l-64 73 68.4 75.9h-31.7L1059 83.5V153h-24.9Z"/><path fill="url(#j)" d="m1149 153 47-149h36.5l47 149h-25.7l-42.6-133.6h5.6l-42 133.6H1149Zm26.2-32.3V97.5h78.2v23.2h-78.2Z"/></g><defs><linearGradient id="a" x1="595" x2="604" y1="-101" y2="528" gradientUnits="userSpaceOnUse"><stop stop-color="#343434"/><stop offset=".6" stop-color="#343434" stop-opacity=".2"/></linearGradient><linearGradient id="b" x1="595" x2="604" y1="-101" y2="528" gradientUnits="userSpaceOnUse"><stop stop-color="#343434"/><stop offset=".6" stop-color="#343434" stop-opacity=".2"/></linearGradient><linearGradient id="c" x1="595" x2="604" y1="-101" y2="528" gradientUnits="userSpaceOnUse"><stop stop-color="#343434"/><stop offset=".6" stop-color="#343434" stop-opacity=".2"/></linearGradient><linearGradient id="d" x1="595" x2="604" y1="-101" y2="528" gradientUnits="userSpaceOnUse"><stop stop-color="#343434"/><stop offset=".6" stop-color="#343434" stop-opacity=".2"/></linearGradient><linearGradient id="e" x1="595" x2="604" y1="-101" y2="528" gradientUnits="userSpaceOnUse"><stop stop-color="#343434"/><stop offset=".6" stop-color="#343434" stop-opacity=".2"/></linearGradient><linearGradient id="f" x1="595" x2="604" y1="-101" y2="528" gradientUnits="userSpaceOnUse"><stop stop-color="#343434"/><stop offset=".6" stop-color="#343434" stop-opacity=".2"/></linearGradient><linearGradient id="g" x1="595" x2="604" y1="-101" y2="528" gradientUnits="userSpaceOnUse"><stop stop-color="#343434"/><stop offset=".6" stop-color="#343434" stop-opacity=".2"/></linearGradient><linearGradient id="h" x1="595" x2="604" y1="-101" y2="528" gradientUnits="userSpaceOnUse"><stop stop-color="#343434"/><stop offset=".6" stop-color="#343434" stop-opacity=".2"/></linearGradient><linearGradient id="i" x1="595" x2="604" y1="-101" y2="528" gradientUnits="userSpaceOnUse"><stop stop-color="#343434"/><stop offset=".6" stop-color="#343434" stop-opacity=".2"/></linearGradient><linearGradient id="j" x1="595" x2="604" y1="-101" y2="528" gradientUnits="userSpaceOnUse"><stop stop-color="#343434"/><stop offset=".6" stop-color="#343434" stop-opacity=".2"/></linearGradient></defs></svg> -->
            <img class="print-footer__decorative" src="/img/decorative.svg" />
        </div>
    </footer> 

<style lang="scss" is:global>

    @use "../styles/media.scss" as *;

    .print-footer {
        & .logo-wrapper {
            margin: 0 auto;
            grid-area: lg;
            @include respond(md) {
                margin: 0;
            }
        }

    }
    .print-seo-section {
        margin: calc( -1 * var(--height-section-seo)) 0 0;
    }
</style>
<style lang="scss">
    @use "../styles/media.scss" as *;
    .print-footer {
        position: relative;
        z-index: 1;
        background-color: var(--pxp-menu-bg);
        padding: 2rem 0;
        border-radius: var(--radius-corner-global) var(--radius-corner-global) 0 0;

        & .print-main-menu .list {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            align-items: center;
            justify-content: center;
        }

        & .print-lets-partners {
            width: 100%;
            grid-area: prt;
        }
        @include respond(md) {
            padding: 2rem 0 0;
        }
    }
    .print-footer-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        
        & > * {
            margin: 0 auto;
            @include respond(md) {
                margin: 0;
            }
        }

        @include respond(md) {
            display: grid;
            grid-template-areas: "lg mm mm" "dc ph prt" "c . ." "d d d";
            grid-template-columns: repeat(2, 1fr) auto;
        }

    }
    .print-main-menu {
        grid-area: mm;
        justify-self: flex-end;
    }
    .print-footer-phone {
        grid-area: ph;
        justify-self: flex-end;
        font-family: var(--font-title);
        font-size: clamp(1.375rem, 1.243rem + 0.563vw, 1.75rem);
        font-weight: 600;
        color: var(--pxp-menu-bg-alternative);
    }
    .print-footer-contacts {
        display: flex;
        font-size: 2rem;
        grid-area: c;
        & .list {
            display: flex;
            align-items: center;
            gap: .5em;
        }
    }
    .print-footer-navigation-docs {
        display: flex;
        flex-direction: column;
        gap: .5em;
        grid-area: dc;
        text-align: center;
        @include respond(md) {
            text-align: left;           
        }
    }
    .print-footer__decorative {
        display: none;
        grid-area: d;
        justify-self: center;
        max-width: 100%;
        @include respond(md) {
            display: block;
        }
    }
</style>
<script is:inline>
    
    var section = document.querySelector(".print-seo-section");
    const setHeightSeoSection = () => {
        // let section = document.querySelector(".print-seo-section");
        document.documentElement.style.setProperty('--height-section-seo', `${section.clientHeight}px`);
    }
    document.addEventListener("DOMContentLoaded", setHeightSeoSection);
    document.addEventListener("load", setHeightSeoSection);
    document.addEventListener("resize", setHeightSeoSection);
    
    const resizeObserverSeoBlock = new ResizeObserver(entries => {
        for (let entry of entries) {
            console.log(entry.contentRect.height);   
            document.documentElement.style.setProperty('--height-section-seo', `${entry.contentRect.height}px`);         
        }
    });
    resizeObserverSeoBlock.observe(section);
    
</script>
