<div class="header__city flex">
    <div id="pxpSiteLocationSelectorContainer">
        <div class="site-location-selector">
            <div class="location-selector">
                <div class="delivery-in-phrase">Доставка в</div><div
                    class="select__root"
                >
                    <div class="select__control">
                        <input
                            class="select__input"
                            placeholder="Укажите город"
                            autocomplete="off"
                            value=""
                        /><div class="clear_button">
                            <svg
                                width="18px"
                                height="18px"
                                viewBox="0 0 1024 1024"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="#000000"
                                ><g
                                    ><path
                                        fill="#666"
                                        d="M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504 738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512 828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496 285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512 195.2 285.696a64 64 0 0 1 0-90.496z"
                                    ></path></g
                                ></svg>
                        </div><div aria-haspopup="listbox">
                            <div class="select__placeholder is-selected">
                                <div class="selected-city-title">
                                    Москва
                                </div><div class="select-location-icon">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 40 40"
                                        fill="none"
                                        ><g
                                            ><path
                                                d="M20 40C20 40 35 25.785 35 15C35 11.0218 33.4196 7.20644 30.6066 4.3934C27.7936 1.58035 23.9782 0 20 0C16.0218 0 12.2064 1.58035 9.3934 4.3934C6.58035 7.20644 5 11.0218 5 15C5 25.785 20 40 20 40ZM20 22.5C18.0109 22.5 16.1032 21.7098 14.6967 20.3033C13.2902 18.8968 12.5 16.9891 12.5 15C12.5 13.0109 13.2902 11.1032 14.6967 9.6967C16.1032 8.29018 18.0109 7.5 20 7.5C21.9891 7.5 23.8968 8.29018 25.3033 9.6967C26.7098 11.1032 27.5 13.0109 27.5 15C27.5 16.9891 26.7098 18.8968 25.3033 20.3033C23.8968 21.7098 21.9891 22.5 20 22.5Z"
                                            ></path></g
                                        ></svg>
                                </div>
                            </div>
                        </div>
                    </div><div class="select__geolocation-icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            version="1.1"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0"
                            y="0"
                            viewBox="0 0 512.001 512.001"
                            xml:space="preserve"
                            class=""
                            ><g transform="matrix(-1,0,0,1,512.001864644466,0)"
                                ><path
                                    d="M502.978 210.683 20.979 1.243A15 15 0 0 0 1.244 20.979l209.44 482a15 15 0 0 0 28.101-1.591l44.912-146.847a106.584 106.584 0 0 1 70.844-70.844l146.846-44.912a15 15 0 0 0 1.591-28.102z"
                                    data-original="#000000"></path></g
                            ></svg>
                    </div>
                </div>
            </div><div class="delivery-type-selector">
                <div
                    class="delivery-type-selector__title"
                    style="display: none;"
                >
                    Способ получения
                </div><div
                    class="delivery-type-selector__selector"
                    style="--min-item-width: 148px;"
                >
                    <div class="selector__item courier" and-localiztion="и">
                        <div class="selector__item__title">
                            Доставка курьером
                        </div><div class="selector__item__title_mobile">
                        </div><div class="selector__item__note"></div>
                    </div><div
                        class="selector__item pickpoint"
                        and-localiztion="и"
                    >
                        <div class="selector__item__title">
                            3567 пунктов выдачи
                        </div><div class="selector__item__title_mobile">
                        </div><div class="selector__item__note"></div>
                    </div>и<div
                        class="selector__item office"
                        and-localiztion="и"
                    >
                        <div class="selector__item__title">
                            1 наш магазин
                        </div><div class="selector__item__title_mobile">
                        </div><div class="selector__item__note"></div>
                    </div>
                </div><div class="mobile-note"></div>
            </div>
        </div><div class="quick-city-selector-wrapper">
            <div class="container">
                <div class="quick-city-selector">
                    <div class="items__default">
                        <div class="item">Москва</div><div class="item">
                            Санкт-Петербург
                        </div><div class="item">Новосибирск</div><div
                            class="item"
                        >
                            Екатеринбург
                        </div><div class="item">Нижний Новгород</div>
                    </div><div class="close_button">
                        <svg
                            width="18px"
                            height="18px"
                            viewBox="0 0 1024 1024"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="#000000"
                            ><g
                                ><path
                                    fill="#666"
                                    d="M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504 738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512 828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496 285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512 195.2 285.696a64 64 0 0 1 0-90.496z"
                                ></path></g
                            ></svg>
                    </div><div class="alphabetical-index">
                        <div class="letter">А</div><div class="letter">
                            Б
                        </div><div class="letter">В</div><div class="letter">
                            Г
                        </div><div class="letter">Е</div><div class="letter">
                            И
                        </div><div class="letter">К</div><div class="letter">
                            Л
                        </div><div class="letter">М</div><div class="letter">
                            Н
                        </div><div class="letter">О</div><div class="letter">
                            П
                        </div><div class="letter">Р</div><div class="letter">
                            С
                        </div><div class="letter">Т</div><div class="letter">
                            У
                        </div><div class="letter">Х</div><div class="letter">
                            Ч
                        </div><div class="letter">Ю</div><div class="letter">
                            Я
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function () {
            if (pxp.utilities.isMobile(1200) !== false) return;

            let modal = undefined;
            const onDeliveryTypeSelect = async (type) => {
                modal =
                    modal ??
                    (await pxpFrontend.deliveryExternal.deliveryExternalModalRender(
                        { opened: true, title: "Выберите способ доставки" },
                    ));
                modal(true);
            };

            const nodes = document.querySelectorAll(
                "#pxpSiteLocationSelectorContainer",
            );
            const container = nodes[nodes.length - 1];
            if (container == null) return;

            if (!deliveryExternalPromise) {
                var deliveryExternalPromise = new Promise((resolve, reject) => {
                    const script = document.createElement("script");
                    script.onload = resolve;
                    script.onerror = reject;
                    script.src =
                        window.location.origin + "/api/delivery/external/load";
                    document.head.appendChild(script);
                });
            }

            deliveryExternalPromise.then(() => {
                pxpFrontend.deliveryExternal.siteLocationSelectorRender(
                    container,
                    {
                        onCityChange: undefined,
                        onDeliveryTypeSelect: onDeliveryTypeSelect,
                        showDeliveryTypeSelector: true,
                    },
                );
            });
        }).call();
    </script>
</div>
