<div class="logo-wrapper">
    <a href="/" title="Выпускной альбом">
        <img src="/img/logo.svg" alt="Выпускной альбом">
    </a>
</div>

<style lang="scss">
    .logo-wrapper {
        max-height: inherit;
        & a {
            display: block;
        }
    }
</style>