<header class="print-preheader">
    <div class="container">
        <div class="navigation navigation-4002">
            <ul class="list">
                <li class="category-item "><a target="_blank" href="tel:+74952150013"><i class=""></i>+7 (495) 215-00-13</a></li>
                <li class="category-item ">
                    <a target="_blank" href="https://vk.com/printoteka">
                        <i class="print-icon print-icon-vk">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </a>
                </li>
                <li class="category-item "><a target="_blank" href="https://vk.com/printoteka"><i class="print-icon print-icon-tg"></i></a></li>
            </ul>
        </div>
    </div>
</header>


<style lang="scss">
    .print-preheader {
        background-color: #000;
        & .navigation {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        & .list {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        & a {
            color: #fff;
        }
        & i {
            color: #fff;
        }
    }
</style>