---
const {title, classList, hasContainer = false} = Astro.props
---
<div class="print-section" class:list={[`${hasContainer && "container"}`]}>
    <h2>{title}</h2>
    <div class="print-section-inner" class:list={classList}>
        <slot />
    </div>
</div>

<style lang="scss">
    .print-section {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        & h2 {
            text-align: center;
        }
    }
</style>