---
const {title, classList, classTitle, hasContainer = false} = Astro.props
---
<section class="print-section" class:list={[`${hasContainer && "container"}`]}>
    <h2 class={`${classTitle ? classTitle : "h2"}`} set:html={title}></h2>
    <div class="print-section-inner" class:list={classList}>
        <slot />
    </div>
</section>

<style lang="scss">
    .print-section {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        & h2 {
            text-align: center;
        }
    }
</style>