---
import "./styles/media.scss";
import "./styles/colors.scss";
import "./styles/fonts.scss";
import "./styles/layout.scss";
import "./styles/inputs.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="stylesheet" href="/default/deliveryApp.css" /> -->
		<link rel="stylesheet" href="/default/bootstrap.min.css" />
		<link rel="stylesheet" href="/default/viewer.min.css" />
		<link rel="stylesheet" href="/default/common.css" />
		<link rel="stylesheet" href="/default/theme-base.css" />
		<!-- <link rel="stylesheet" href="/default/media-base.css" /> -->
		<link rel="stylesheet" href="/default/theme-override.css" />
		<!-- <link rel="stylesheet" href="/default/swiper.min.css" /> -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<slot />
	</body>
</html>
