---
import "./styles/colors.scss";
import "./styles/fonts.scss";
import "./styles/layout.scss";
import "./styles/inputs.scss";
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="stylesheet" href="/default/deliveryApp.css" /> -->
		<link rel="stylesheet" href="/default/bootstrap.min.css" />
		<link rel="stylesheet" href="/default/viewer.min.css" />
		<link rel="stylesheet" href="/default/common.css" />
		<link rel="stylesheet" href="/default/theme-base.css" />
		<!-- <link rel="stylesheet" href="/default/media-base.css" /> -->
		<link rel="stylesheet" href="/default/theme-override.css" />
		<!-- <link rel="stylesheet" href="/default/swiper.min.css" /> -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="/default/aos.css" rel="stylesheet" />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<div class="print-layout--dark print-layout--circle-corners">
			<slot />
		</div>
		<Footer />
		<svg width="0" height="0" class="hidden">
			<symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="icon-vk">
			  <rect width="24" height="24" rx="12" fill="white"></rect>
			  <path d="M12.7702 17.2908C7.30024 17.2908 4.18029 13.5408 4.05029 7.30078H6.79029C6.88029 11.8808 8.90024 13.8208 10.5002 14.2208V7.30078H13.0803V11.2508C14.6603 11.0808 16.3201 9.28078 16.8801 7.30078H19.4602C19.0302 9.74078 17.2302 11.5408 15.9502 12.2808C17.2302 12.8808 19.2803 14.4508 20.0603 17.2908H17.2202C16.6102 15.3908 15.0903 13.9208 13.0803 13.7208V17.2908H12.7702Z" fill="#232323"></path>
			</symbol>
			<symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="icon-tg">
			  <path d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" fill="white"></path>
			  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.43201 11.872C8.93026 10.3479 11.263 9.34305 12.4301 8.85759C15.7627 7.47147 16.4551 7.23069 16.9065 7.22274C17.0058 7.22099 17.2277 7.24559 17.3715 7.36226C17.4929 7.46076 17.5263 7.59384 17.5423 7.68723C17.5583 7.78063 17.5782 7.99339 17.5623 8.15963C17.3818 10.0571 16.6003 14.6618 16.2028 16.787C16.0346 17.6863 15.7034 17.9878 15.3827 18.0173C14.6858 18.0814 14.1567 17.5568 13.4817 17.1143C12.4256 16.422 11.8289 15.991 10.8037 15.3154C9.61896 14.5347 10.387 14.1056 11.0622 13.4043C11.2389 13.2208 14.3093 10.428 14.3687 10.1747C14.3762 10.143 14.3831 10.0249 14.3129 9.9625C14.2427 9.90014 14.1392 9.92146 14.0644 9.93843C13.9585 9.96247 12.2713 11.0777 9.00276 13.284C8.52385 13.6129 8.09007 13.7731 7.70141 13.7647C7.27295 13.7554 6.44876 13.5224 5.83606 13.3233C5.08456 13.079 4.48728 12.9498 4.53929 12.535C4.56638 12.3189 4.86395 12.0979 5.43201 11.872Z" fill="#232323"></path>
			</symbol>
			<symbol viewBox="0 0 24 24" fill="none" id="user" xmlns="http://www.w3.org/2000/svg">
				<path d="M12 12C9.71113 12 7.69486 9.78128 7.50015 7.05359C7.40063 5.66966 7.816 4.3884 8.66838 3.44643C9.50777 2.5134 10.6933 2 12 2C13.298 2 14.4792 2.51786 15.323 3.45536C16.1797 4.40626 16.595 5.68305 16.4955 7.05359C16.3008 9.78128 14.2845 12 12 12ZM12 3.42858C11.0827 3.42858 10.2563 3.78126 9.68084 4.41965C9.09673 5.06698 8.81116 5.96877 8.88039 6.95091C9.01885 8.91521 10.4467 10.5759 11.9957 10.5759C13.5447 10.5759 14.9725 8.91521 15.1109 6.95091C15.1802 5.98216 14.8946 5.08483 14.3018 4.42858C13.7307 3.78126 12.9086 3.42858 12 3.42858Z" fill="#343434" fill-opacity="0.9"/>
				<path d="M19.6151 22H4.38489C3.96952 22 3.59742 21.8214 3.33781 21.5045C3.05657 21.1562 2.94407 20.683 3.02628 20.2053C3.38973 18.1161 4.532 16.3571 6.32328 15.1294C7.91553 14.0357 9.9318 13.433 12 13.433C14.0682 13.433 16.0845 14.0357 17.6767 15.1294C19.468 16.3616 20.6103 18.1161 20.9737 20.2053C21.0559 20.683 20.9434 21.1562 20.6622 21.5045C20.4026 21.8214 20.0305 22 19.6151 22ZM4.39354 20.5714H19.6065C19.6151 20.5491 19.6194 20.5134 19.6108 20.4554C18.9401 16.6116 15.1932 14.8571 12 14.8571C8.80684 14.8571 5.05986 16.6116 4.38921 20.4554C4.38056 20.5134 4.38489 20.5491 4.39354 20.5714Z" fill="#343434" fill-opacity="0.9"/>
			</symbol>
			<symbol  viewBox="0 0 24 24" fill="none" id="cart" xmlns="http://www.w3.org/2000/svg">
				<path d="M8.02884 21.4275C8.90905 21.4275 9.6226 20.7239 9.6226 19.856C9.6226 18.9882 8.90905 18.2846 8.02884 18.2846C7.14864 18.2846 6.43509 18.9882 6.43509 19.856C6.43509 20.7239 7.14864 21.4275 8.02884 21.4275Z" fill="#343434" fill-opacity="0.9"/>
				<path d="M19.1851 21.4275C20.0654 21.4275 20.7789 20.7239 20.7789 19.856C20.7789 18.9882 20.0654 18.2846 19.1851 18.2846C18.3049 18.2846 17.5914 18.9882 17.5914 19.856C17.5914 20.7239 18.3049 21.4275 19.1851 21.4275Z" fill="#343434" fill-opacity="0.9"/>
				<path d="M22.0838 5.4529C21.9045 5.19263 21.6356 5.01094 21.3218 4.95201C21.2471 4.93728 21.1674 4.92746 21.0877 4.92746H5.93206L5.62825 3.21853C5.5635 2.84531 5.22981 2.57031 4.84133 2.57031H1.65381C1.21553 2.57031 0.856934 2.92388 0.856934 3.35603C0.856934 3.78817 1.21553 4.14174 1.65381 4.14174H4.17394L6.45003 16.8507C6.51477 17.2239 6.84847 17.4989 7.23695 17.4989H19.987C20.4253 17.4989 20.7839 17.1453 20.7839 16.7132C20.7839 16.281 20.4253 15.9275 19.987 15.9275H7.89935L7.62044 14.356H19.6583C20.2261 14.356 20.7191 13.9583 20.8287 13.4083L22.2631 6.33683C22.3229 6.02746 22.2631 5.71317 22.0838 5.4529ZM19.3296 12.7846H7.33656L6.21096 6.49888H20.5996L19.3296 12.7846Z" fill="#343434" fill-opacity="0.9"/>
			</symbol>
		</svg>
		<script>
			const imgs = document.querySelectorAll('img.lazy');
			const observer = new IntersectionObserver((entries, obs) => {
			  entries.forEach(entry => {
				if (entry.isIntersecting) {
				  const img = entry.target; 
				  img.src = img.dataset.src; 
				  img.classList.remove('lazy');
				obs.unobserve(img);
				}
			  });
			}); 
			imgs.forEach(img => observer.observe(img));
		  </script>
		<script is:inline src="/default/aos.js"></script>
		<script is:inline>
			AOS.init();
		</script>
	</body>
</html>
