---
import "./styles/colors.scss";
import "./styles/fonts.scss";
import "./styles/layout.scss";
import "./styles/inputs.scss";
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="stylesheet" href="/default/deliveryApp.css" /> -->
		<link rel="stylesheet" href="/default/bootstrap.min.css" />
		<link rel="stylesheet" href="/default/viewer.min.css" />
		<link rel="stylesheet" href="/default/common.css" />
		<link rel="stylesheet" href="/default/theme-base.css" />
		<!-- <link rel="stylesheet" href="/default/media-base.css" /> -->
		<link rel="stylesheet" href="/default/theme-override.css" />
		<!-- <link rel="stylesheet" href="/default/swiper.min.css" /> -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="/default/aos.css" rel="stylesheet" />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<div class="print-layout--dark print-layout--circle-corners">
			<slot />
		</div>
		<Footer />
		<svg width="0" height="0" class="hidden">
			<symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="icon-vk">
			  <rect width="24" height="24" rx="12" fill="white"></rect>
			  <path d="M12.7702 17.2908C7.30024 17.2908 4.18029 13.5408 4.05029 7.30078H6.79029C6.88029 11.8808 8.90024 13.8208 10.5002 14.2208V7.30078H13.0803V11.2508C14.6603 11.0808 16.3201 9.28078 16.8801 7.30078H19.4602C19.0302 9.74078 17.2302 11.5408 15.9502 12.2808C17.2302 12.8808 19.2803 14.4508 20.0603 17.2908H17.2202C16.6102 15.3908 15.0903 13.9208 13.0803 13.7208V17.2908H12.7702Z" fill="#232323"></path>
			</symbol>
			<symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="icon-tg">
			  <path d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" fill="white"></path>
			  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.43201 11.872C8.93026 10.3479 11.263 9.34305 12.4301 8.85759C15.7627 7.47147 16.4551 7.23069 16.9065 7.22274C17.0058 7.22099 17.2277 7.24559 17.3715 7.36226C17.4929 7.46076 17.5263 7.59384 17.5423 7.68723C17.5583 7.78063 17.5782 7.99339 17.5623 8.15963C17.3818 10.0571 16.6003 14.6618 16.2028 16.787C16.0346 17.6863 15.7034 17.9878 15.3827 18.0173C14.6858 18.0814 14.1567 17.5568 13.4817 17.1143C12.4256 16.422 11.8289 15.991 10.8037 15.3154C9.61896 14.5347 10.387 14.1056 11.0622 13.4043C11.2389 13.2208 14.3093 10.428 14.3687 10.1747C14.3762 10.143 14.3831 10.0249 14.3129 9.9625C14.2427 9.90014 14.1392 9.92146 14.0644 9.93843C13.9585 9.96247 12.2713 11.0777 9.00276 13.284C8.52385 13.6129 8.09007 13.7731 7.70141 13.7647C7.27295 13.7554 6.44876 13.5224 5.83606 13.3233C5.08456 13.079 4.48728 12.9498 4.53929 12.535C4.56638 12.3189 4.86395 12.0979 5.43201 11.872Z" fill="#232323"></path>
			</symbol>
		</svg>
		<script is:inline src="/default/aos.js"></script>
		<script is:inline>
			AOS.init();
		</script>
	</body>
</html>
